#floating-menu {
  /* margin-bottom: 200%; */
}
.floating-menu {
  /* font-family: sans-serif;
  background: blue;
  padding: 5px;;
  width: 230px;
  z-index: 100; */
  /* position: fixed; */
  /* overflow-x: hidden;
  overflow-x: auto; */
}
.floating-menu a,
.floating-menu h3 {
  /* font-size: 0.9em;
  display: block;
  margin: 0 0.5em;
  color: white; */
}

/* added from
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_sidenav */

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 11px;}
}

.floating-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.floating-menu a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.floating-menu a:hover {
  color: #f1f1f1;
}

.floating-menu .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
